{layout '../@layoutSginedIn.latte'}
{define metaTitle}Organizace{/define}

{block content}
	{include '../../components/DefaultHeader/DefaultHeader.latte', key: 'Organization'}
	{control grid}
{/block}