<footer>
    <div class="bg-brown-lightest text-white text-14px leading-[200%]">
        <div class="container-desktop py-24px">
            <div class="flex flex-wrap w-full justify-between items-center">
                <div class="flex-none w-[150px]">
                    <img srcset="{('static/logo.png'|srcset)}" />
                </div>
            </div>
        </div>
    </div>
</footer>