parameters:
    contact:
        email: 'info@montyit.cz'
        phone: ''
        title: 'Bioodpad Není Odpad'
        name: 'Bioodpad Není Odpad'
        street: 'Ulice něco'
        city: 'Někde'
        postCode: '110 00'
        country: 'Czech republic'
        crn: ''
        vatId: ''