{varType string $slug}

{default $slug = null}

{var $image = $slug ? "$slug.webp" : 'hero-bg.jpg'}

<img
    srcset="{('static/hero-bg-3.jpg'|srcset)}"
    class="absolute-fit z-[-2] object-cover object-left-center"
>
<div class="absolute-fit z-[-1]"
     style="background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);"
></div>