{layout '@mailLayout.latte'}

{block title}{$title}{/block}

{block content}
    <p>Dobrý den,</p>
    <p>obnovu nebo vytvoření hesla provedete kliknutím na odkaz níže. Pokud jste si vytvoření nového hesla nevyžádali, tento email prosím ignorujte.</p>
    {include '@mailButton.latte',
    'text' => 'Vytvořit heslo',
    'link' => $this->global->uiControl->link("Admin:Sign:recovery", ['token' => $token])
    }
{/block}