{varType string $tag}
{varType Latte\Runtime\Html $content}

{default $tag = 'div'}

<section n:tag="$tag" class="max-w-prose mx-auto">
    {ifset $content}
        {$content}
    {else}
        {block children}{/block}
    {/ifset}
</section>
